{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Supprimer une annonce -
    {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <p>
       Annonce supprimée.
    </p>

{% endblock %}