<ul class="nav nav-pills nav-stacked">
    {% for advert in listAdverts %}
        <li>
            <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                {{ advert.title }} - {{ advert.date| date }}
            </a>
        </li>
    {% endfor %}
</ul>